<div class="col-md-3 results">

  <form name="queryForm" novalidate>

    <!-- Selector for start date -->
    <div class="form-group" ng-class="{'has-error': queryForm.dateStart.$invalid}">
      <label for="dateStart">Start:</label>
      <datetime-select
        name="dateStart"
        ng-model="search.start"
        validate-date-after="today"
        validate-date-before="search.end">
      </datetime-select>
      <p ng-show="queryForm.dateStart.$error.dateBefore" class="help-block">
        Must be before end date
      </p>
      <p ng-show="queryForm.dateStart.$error.dateAfter" class="help-block">
        Must be in the future
      </p>
    </div>

    <!-- Selector for end date -->
    <div class="form-group" ng-class="{'has-error': queryForm.dateEnd.$invalid}">
      <label for="dropdownDateEnd">End:</label>
      <datetime-select
        name="dateEnd"
        ng-model="search.end"
        validate-date-after="search.start">
      </datetime-select>
      <p ng-show="queryForm.dateEnd.$error.dateAfter" class="help-block">
        Must be after start date
      </p>
    </div>

    <!-- Submit -->
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-default"
        ng-click="update()"
        ng-disabled="queryForm.$invalid"
        >
        Update
      </button>
    </div>
  </form>

  <!-- Loader animation -->
  <div class="loader" ng-show="loading">
  </div>

  <div ng-show="!loading && !hasCars">
    No cars available for selected period. Please try another!
  </div>

  <!-- Result list -->
  <ul class="list-group" ng-show="!loading && hasCars">
    <li
      class="list-group-item"
      ng-repeat="car in availableCars"
      ng-class="{active: selectedCar == car}"
      ng-click="setSelectedCar(car)">
      <span class="badge">{{car.cars_available}}</span>
      <a id="car-{{car.id}}">
        <h4 class="list-group-item-heading">
          {{car.parking_shortname}}
        </h4>
      </a>
      <p class="list-group-item-text">
        {{car.parking_name}}
      </p>
    </li>
  </ul>
</div>

<div class="col-md-9 map-container"
  car-map
  available-cars="availableCars"
  selected-car="selectedCar"
  on-car-selected="carSelectedOnMap">
</div>
