<div class="col-md-3 results">

  <form name="query-form">
    <div class="form-group">
      <datetimepicker ng-model="search.start"/>
    </div>
    <div class="form-group">
      <datetimepicker ng-model="search.end"/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default" ng-click="update()">Update</button>
    </div>
  </form>

  <div class="loader" ng-show="loading">
  </div>

  <ul class="list-group" ng-show="!loading">
    <li ng-repeat="car in availableCars" class="list-group-item">
      <span class="badge">{{car.cars_available}}</span>
      <h4 class="list-group-item-heading">
        {{car.parking_shortname}}
      </h4>
      <p class="list-group-item-text">
        {{car.parking_name}}
      </p>
    </li>
  </ul>


</div>

<div class="col-md-9 map-container" car-map available-cars="availableCars">
</div>
